.body-size{
	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
td, th,tr{
border: 1px solid green;
	
}
td{
	font-size: 20px;
}
table{
	
	width: 100%
}
.text-header{
	text-align: center;
	font-size: 40px;
	font-family: 'Cinzel', serif;
}
a{
	text-decoration: none;
}